@{
    ViewData["Title"] = "Perfil del Usuario";
}

<h2>@ViewData["Title"]</h2>

<p>Bienvenido, @User.Identity.Name</p>

<p>Email: @User.FindFirst("email")?.Value</p>
<p>Nombre: @User.FindFirst("name")?.Value</p>
<p>Género: @User.FindFirst("gender")?.Value</p>
<p>Fecha de nacimiento: @User.FindFirst("birthdate")?.Value</p>